<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.museum.dao.ArchitectureMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.museum.domain.Architecture">
                    <id column="id" property="id"/>
                    <result column="name" property="name"/>
                    <result column="address" property="address"/>
                    <result column="area" property="area"/>
                    <result column="level" property="level"/>
                    <result column="years" property="years"/>
                    <result column="type" property="type"/>
                    <result column="introduction" property="introduction"/>
                    <result column="situation" property="situation"/>
                    <result column="maintenance" property="maintenance"/>
                    <result column="materials" property="materials"/>
                    <result column="Inspection" property="Inspection"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, name, address, area, level, years, type, introduction, situation, maintenance, materials, Inspection
        </sql>

</mapper>