<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.museum.dao.DeviceAlarmMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.museum.domain.DeviceAlarm">
                    <id column="id" property="id"/>
                    <result column="type" property="type"/>
                    <result column="events" property="events"/>
                    <result column="state" property="state"/>
                    <result column="createtimes" property="createtimes"/>
                    <result column="device_num" property="deviceNum"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, type, events, state, createtimes, device_num
        </sql>

</mapper>