<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.museum.dao.FileAccessFormMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.museum.domain.FileAccessForm">
                    <id column="id" property="id"/>
                    <result column="accesstime" property="accesstime"/>
                    <result column="department" property="department"/>
                    <result column="access_name" property="accessName"/>
                    <result column="uid" property="uid"/>
                    <result column="access_title" property="accessTitle"/>
                    <result column="access_sum" property="accessSum"/>
                    <result column="returntime" property="returntime"/>
                    <result column="purpose" property="purpose"/>
                    <result column="remarks" property="remarks"/>
                    <result column="createtime" property="createtime"/>


        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, accesstime, department, access_name, uid, access_title, access_sum, returntime, purpose, remarks,createtime
        </sql>

</mapper>