<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.museum.dao.GoodsInputMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.museum.domain.GoodsInput">
                    <id column="id" property="id"/>
                    <result column="inserttime" property="inserttime"/>
                    <result column="insertname" property="insertname"/>
                    <result column="remarks" property="remarks"/>
                    <result column="createtimes" property="createtimes"/>
                    <result column="goodsid" property="goodsid"/>
                    <result column="goodsum" property="goodsum"/>
                    <result column="claim_name" property="claimName"/>
                    <result column="claim_state" property="claimState"/>



        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, inserttime, insertname, remarks, createtimes, goodsid, goodsum,claim_name,claim_state
        </sql>

</mapper>