<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.museum.dao.ImmovableDataMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.museum.domain.ImmovableData">
                    <id column="id" property="id"/>
                    <result column="depement" property="depement"/>
                    <result column="name" property="name"/>
                    <result column="filename" property="filename"/>
                    <result column="fileaddress" property="fileaddress"/>
                    <result column="uid" property="uid"/>
                    <result column="createtimes" property="createtimes"/>
                    <result column="remarks" property="remarks"/>
                    <result column="introduce" property="introduce"/>


        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, depement, name, filename, fileaddress, uid, createtimes,remarks,introduce
        </sql>

</mapper>