<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.museum.dao.MaintainFormMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.museum.domain.MaintainForm">
                    <id column="id" property="id"/>
                    <result column="uid" property="uid"/>
                    <result column="createtime" property="createtime"/>
                    <result column="department" property="department"/>
                    <result column="department_name" property="departmentName"/>
                    <result column="maintain_time" property="maintainTime"/>
                    <result column="address" property="address"/>
                    <result column="maintain_idea" property="maintainIdea"/>
                    <result column="completion" property="completion"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, uid, createtime, department, department_name, maintain_time, address, maintain_idea, completion
        </sql>

</mapper>