<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.museum.dao.MissionPlanMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.museum.domain.MissionPlan">
                    <id column="id" property="id"/>
                    <result column="uid" property="uid"/>
                    <result column="startTime" property="startTime"/>
                    <result column="endTime" property="endTime"/>
                    <result column="plan_content" property="planContent"/>
                    <result column="play_type" property="playType"/>
                    <result column="planstate" property="planstate"/>
                    <result column="plantime" property="plantime"/>
                    <result column="createtimes" property="createtimes"/>
                    <result column="synchronizeds" property="synchronizeds"/>

        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, uid, startTime, endTime, plan_content, play_type, planstate, plantime,createtimes,synchronizeds
        </sql>

</mapper>