<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.museum.dao.NotMoveRelicMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.museum.domain.NotMoveRelic">
                    <id column="id" property="id"/>
                    <result column="name" property="name"/>
                    <result column="introduce" property="introduce"/>
                    <result column="enclosure" property="enclosure"/>
                    <result column="remarks" property="remarks"/>
                    <result column="createtimes" property="createtimes"/>
                    <result column="address" property="address"/>
                    <result column="filename" property="filename"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, name, introduce, enclosure, remarks, createtimes, address, filename
        </sql>

</mapper>