<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.museum.dao.ResourcesMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.museum.domain.Resources">
                    <id column="id" property="id"/>
                    <result column="readdress" property="readdress"/>
                    <result column="types" property="types"/>
                    <result column="uid" property="uid"/>
                    <result column="times" property="times"/>
                    <result column="filename" property="filename"/>
                    <result column="describes" property="describes"/>
                    <result column="title" property="title"/>
                    <result column="pathaddress" property="pathaddress"/>
                    <result column="function_id" property="functionId"/>
                    <result column="share" property="share"/>







        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, readdress, types, uid, times, filename,describes,title,pathaddress,function_id,share
        </sql>

</mapper>