<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.museum.dao.VisitsMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.museum.domain.Visits">
                    <id column="id" property="id"/>
                    <result column="visitsId" property="visitsId"/>
                    <result column="years" property="years"/>
                    <result column="dates" property="dates"/>
                    <result column="month" property="month"/>
                    <result column="year_sum" property="yearSum"/>
                    <result column="date_sum" property="dateSum"/>
                    <result column="month_sum" property="monthSum"/>
                    <result column="createTime" property="createTime"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, visitsId, years, dates, month, year_sum, date_sum, month_sum, createTime
        </sql>

</mapper>